*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(42, 44, 44);
}
.xy{
    text-align: end;
    padding-top: 5px;
}
.xy a{
    margin: 15px;
    font-size: 20px;
}
.xyz{
    display: none;
}
.icon3{
    font-size: 40px;
    width: 60px;
    border-radius: 60px;
    transition:4s;
}
.icon3:hover{
    transform: rotate(360deg);
}
.im{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transition: 4s;
}
.im:hover{
    transform: rotate(360deg);
}

.width1{
    width: 85%;
    margin: 0 auto;
   
}

.fa-chevron-down{
    font-size: 30px;
}

.im3{
    width: 100%;
    height: 200px;
}

.im4{
    height: 150px;
}

.wid{
    height: 170px;
    padding-top: 10px;

}

.card1{
    box-shadow: 5px 5px 5px rgb(133, 133, 172);
}
.card1:hover{
    box-shadow: 8px 8px 8px white;
}

.im5{
    width: 60%;
    height: 250px;
    padding-top: 30px;
}

.im6{
    width:50%;
    height: 250px;
}









